.edit {
    position: absolute;
    z-index: 10;
    width: 40vw;
    height: 5vh;
    background-color: rgb(143, 137, 137);
    border: none;
    border-radius: 5vh;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.4rem;
}