.addThing {
  margin-top: 20px;
  text-align: center;
}

.addThing input {
  display: inline;
  height: 5vh;
  border-radius: 5vh;
  border: none;
  text-align: center;
}

.addThing input[type=text] {
  width: 30vw;
}

.addThing input[type=number] {
  width: 10vw;
  margin-left: 10px;
}

.addThing button {
  width: 100px;
  height: 5vh;
  margin-left: 10px;
  background-color: #168b16;
  border-radius: 5vh;
  border: none;
  color: whitesmoke;
}

.addThing button:hover {
  cursor: pointer;
}
